.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
	.site-branding {
		display: inline-block;
		float: left;
		@media screen and (max-width: 1200px){
			max-width: 220px;
		}
		@media screen and (max-width: 991px){
		    max-width: 110px;
		}
		@media screen and (max-width: 767px){
		    max-width: 150px;	
		}
	}
	.main-navigation {
		//other styles for this calss are in navigation/menus
		display: inline-block;
		float: right;
	    margin-top: 15px;
		position: relative;
		@media screen and (max-width: 1200px){
			margin-top: 7px;
		}
		@media screen and (max-width: 991px){
			margin-top: 7px;
		}
		@media screen and (max-width: 767px){
			display: none;
		}
		.menu {
			display: inline-block;
			float: left;
			@media screen and (max-width: 1200px){
				a {
					padding: 12px;
					@include font-size(0.800);
				}
			}
			@media screen and (max-width: 991px){
				a {
					padding: 8px;
					@include font-size(0.750);
				}
			}
			@media screen and (max-width: 767px){
				
			}
		}
	}
	.search {
	    display: inline-block;
    	float: right;
	    margin-left: 45px;
		.search-form {
			position: absolute;
			right: 0;
			@media screen and (max-width: 1200px){
				top: -5px;
			}
			@media screen and (max-width: 991px){
				top: -10apx;
			}
			@media screen and (max-width: 767px){
			}
			&:after {
				display: inline-block;
			    font: normal normal normal 14px/1 FontAwesome;
			    font-size: inherit;
			    text-rendering: auto;
			    -webkit-font-smoothing: antialiased;
			    content: "\f002";
			    top: 15px;
			    position: absolute;
			    z-index: 1;
			    left: 10px;
			}
			.search-field {
				border: none;
				cursor: pointer;
				height: 37px;
				margin: 3px 0;
				padding: 0 0 0 34px;
				position: relative;
				-webkit-transition: width 400ms ease, background 400ms ease;
				transition:         width 400ms ease, background 400ms ease;
				width: 0;
				background: transparent;
				z-index:2;
				&:focus {
					background-color: #fff;
					border: 2px solid $blue;
					cursor: text;
					outline: 0;
					width: 230px;
					z-index: 0;
					color: $pewter;
				}
			}
			.search-submit {
			  	display: none;
			}
			input[type="search"] {
		  		-webkit-appearance: textfield;
			}
		}
	}
}