.toolbar {
	background-color: $blue;
	color: $white;
	display: table;
	width: 100%;
	@include font-size(0.800);
	@media screen and (max-width: 767px){
	    display: none;	
	}
	a {
		color: $white;
		text-decoration: none;
		&:hover, &:focus {
			color: $yellow;
		}
	}
	.phone {
		display: inline-block;
		float: left;
		padding: 15px 20px;
	}
	.email {
		display: inline-block;
		float: left;
		padding: 15px 20px;
	}
	.hours {
		display: inline-block;
		float: left;
		padding: 15px 20px;
		&:hover, &:focus {
			color: $yellow;
		}
	}
	.social {
		display: inline-block;
		float: right;
		padding-top: 8px;
		>div {
			cursor: pointer;
			display: inline-block;
		    float: left;
		    margin-right: 6px;
		    padding: 5px 7px;
		    border: 1px solid;
		    border-radius: 100%;
		    width: 25px;
		    height: 25px;
		    &:hover {
		    	background-color: $yellow;
		    }
		}
	}
}