// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

@mixin outline-button($color) {
	transition: background-color 0.25s ease;
	transition: border-color 0.25s ease;
	display: table;
	border: 3px solid;
	border-radius: 3px;
	padding: 15px 25px;
	text-decoration: none;
	&:hover {
		border-color: $color;
		background-color: $color;
	}
}

@mixin button($color) {
	transition: background-color 0.25s ease;
	transition: border-color 0.25s ease;
	display: table;
	background-color: $color;
	border-radius: 3px;
	padding: 18px 28px;
	text-decoration: none;
	&:hover {
		background-color: darken($color, 10%);
	}
}